<div id="book-page">
  <a href="/books">Voltar</a>
  <div class="container">
  
      <h1>Título: {{book.title}}</h1>
    <h2>Autor: {{book.autor}}</h2>
    <p>{{book.pageqty}} páginas </p>
    <p>{{book.resume}}</p>
    <p>Término de leitura: {{book.date}}</p>
    <p>Nota: {{book.rating}}</p>
    
    <div class="actions">
      <a href="/books/edit/{{book.id}}">Editar</a>
      <form action="/books/remove/{{book.id}}" method="POST">
        <input type="submit" value="Remover">
      </form>
    </div>
  </div>
</div>